@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");
.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f2e8da;
  padding: 1rem 0;
}

header .logo_title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.025em;
  color: rbg(17 24 39);
  font-family: "Roboto", sans-serif;
}

header .bar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

header nav li {
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: rgb(0 0 0 / 0.5);
}

header button {
  margin-right: 10px;
}

footer {
  margin-top: auto;

  background-color: #f2e8da;
  text-align: center;
  padding: 1rem 0;
  font-size: 16px;
}

.product {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.product img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
