header {
  background-color: #f2e8da;
  padding: 1rem 0;
}

header .logo_title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.025em;
  color: rbg(17 24 39);
  font-family: "Roboto", sans-serif;
}

header .bar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

header nav li {
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: rgb(0 0 0 / 0.5);
}

header button {
  margin-right: 10px;
}